*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #5f5f5f;
  font-size: 1.1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.control-panel {
  width: 30%;
  box-shadow: 1px 0px 12px 0px #00000067;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.control-panel::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.control-panel__title {
  font-size: 1.8rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid #181616;
  box-shadow: 0px 3px 6px 0px #00000029;
}

.control-panel__controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.control-panel__controls fieldset {
  width: 95%;
  margin: 1rem 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset input {
  min-width: 58%;
  outline: none;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.8rem;
}

fieldset input:focus {
  border-color: #000000;
}

.control-panel__btn {
  padding: 1rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  color: #fff;
  background: #000000;
  width: 45%;
}

.map {
  width: 70%;
  height: 100%;
}
